/* Grid */
@import "mixin.styl"
/**
    row
 */
row-(size)
  for i in 1..12
    .row-{size}{'-'}{i} //第二个减号无法识别,还可以{'-'+{i}}
      float left
      width (100% / 12) * i

/**
    断点设置
 */
media-row(breakPoint, size)
  @media (min-width: breakPoint)
    row-(size)

/**
    不同浏览器下的row
 */
row-(sm)
media-row(768px, md)
media-row(1200px, lg)

/**
    container清除row带来的影响
 */
clearfix(container)
clearfix(wrap)
