/* align */
Align(args)
  .align{args}
    text-align args

Align(left)
Align(center)
Align(right)

/* float */
Float(args)
  .float{args}
    float args

Float(left)
Float(right)

/* Clearfix */
Clearfix(classNmae)
  .{classNmae}
    {'*zoom '}1
  .{classNmae}:before,
  .{classNmae}:after
    display table
    content ''
  .{classNmae}:after
    clear both

Clearfix(clearfix)

/* 水平居中 */

/*如果有一个参数，没有初始值时不能在调用时不传参，不传会报错，如Center(flag) Center()则不行，可以将flag初始为为false，像这样Center(flag=false),再在包含代码里用if语句设置==false就可以默认不传参的享受初始flag为false时的代码块*/
Center(flag = false)
  if flag is defined
    if hori in flag
      margin 0 auto
    if vert in flag
      position relative
      top 50%
      transform translateY(-50%)
    if both in flag
      position relative
      top 50%
      transform translateY(-50%)
      margin 0 auto
  if flag == false
    .center-hori
      margin 0 auto
    .center-vert
      position relative
      top 50%
      transform translateY(-50%)
    .center-both
      position relative
      top 50%
      transform translateY(-50%)
      margin 0 auto

Center()

/* 隐藏出现 */
ShowHide()
  .hide
    display none !important

  .show
    display block !important

  .invisible
    visibility hidden

  .text-hide
    font 0 / 0
    color transparent
    text-shadow none
    background-color transparent
    border 0

ShowHide()