html,body
  height 100%
  width 100%
html
  //变量
  $background-color = linear-gradient(to right bottom, #71fff8, #90ff86, #ffe6ac)
  $font = 10px
  $line-height = 1.5
  //代码
  background $background-color
  font-size $font
  line-height $line-height
  overflow hidden

body
  font-size 1.6rem //规定页面字体大小
  overflow-y auto




